*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(178, 218, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    background-color: rgb(38, 2, 73);
    padding: 2rem;

}
form {
    flex-direction: column;
    display: flex;

}
form div{
    display: flex;

}
form input{
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
    background-color: rgb(1, 1, 65);
    color: aliceblue;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    margin: 5px;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.Afficheur{
    flex: 1;
    justify-content: end;
    text-align: right;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 0.5rem;
    margin: 1rem 0.5rem;
}
.equal{
    flex: 1;
    background-color: blue;
    color: white;
}
.operateur{
    color: blue;
}